*{
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    border: black solid;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;

}

header {
    text-align: center;
    border: black solid;
    margin-bottom: 4px;
}

.artist-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    text-align: right;

}
.artist-items{
    display: flex;
    flex-direction: column;
    text-align: right;
}
footer{
    border: black solid;
    margin-top: 4px;
}